#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized, always.
        %button= link_to "Enter", new_user_registration_path
        
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organized
                %p Microdosing cornhole vegan kickstarter heirloom ugh bitters ennui paleo put a bird on it wolf next level offal XOXO pickled. Quinoa franzen actually chambray sriracha. Twee try-hard iceland, before they sold out photo booth ethical bitters. Gluten-free portland chillwave, skateboard flexitarian 8-bit affogato raw denim typewriter helvetica venmo meggings franzen. Small batch occupy yr flannel bitters, vape shoreditch. Salvia vaporware sriracha photo booth, gochujang twee occupy taxidermy asymmetrical etsy. Hammock succulents kinfolk, listicle 90's PBR&B keytar lumbersexual gentrify mixtape wayfarers af.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path